.suggestion {
    display: flex;
    align-items: center;
    gap: 4.9rem;

    & article:first-of-type {
        width: 44.2rem;

        @media only screen and (max-width: 800px) {
            width: fit-content;
        }
    }

    & article:last-of-type {
        display: flex;
        flex-flow: column;
        gap: 1.6rem;

        width: 50%;

        @media only screen and (max-width: 800px) {
            width: 100%;
            align-items: center;
        }
    }

    & a {
        margin-top: 1.6rem;
    }

    &--right {
        flex-flow: row-reverse;
    }

    @media only screen and (max-width: 800px) {
        flex-flow: column-reverse;
        text-align: center;
    }
}
