.peopleInteracting {
    position: relative;
    transition: all 0.2s ease-in-out;

    width: fit-content;

    animation: float 2s alternate-reverse infinite ease-in-out;

    & img:last-child {
        position: absolute;
        left: 18%;
        bottom: 2%;

        transition: all 0.2s ease-in-out;
    }

    &:hover {
        & img:last-child {
            left: 16%;
            bottom: -2%;
        }
    }
}

@keyframes float {
    from {
        transform: translate(3%, 2%);
    }
    to {
        transform: translate(3%, -2%);
    }
}
