@import "/src/assets/sass/utils/variables.scss";

.pagetitle {
    width: 55%;
    line-height: 1.1;
    display: flex;
    flex-flow: column;
    gap: 1.6rem;

    & h2 {
        font-size: clamp(3rem, 6vw, 6.4rem);
        font-weight: 600;
        color: $dark;
    }

    & span {
        color: $primary;
    }

    & p {
        font-size: 1.6rem;
        color: $grey;
        line-height: 1.3;
    }

    @media only screen and (max-width: 800px) {
        text-align: center;
        width: 100%;
    }
}
