@import "/src/assets/sass/utils/variables";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    position: relative;
    scroll-behavior: smooth;
}

main {
    position: relative;
    max-width: 100vw;
    overflow-x: hidden;

    &:not(:has(*)) {
        height: 60vh;
    }
}

img {
    max-width: 100%;
    height: auto;
}

button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    border-radius: 0;
}

input,
textarea,
select {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    outline: none;
    border: none;
    font-family: inherit;
}

a {
    color: inherit;
    text-decoration: none;
    transition: 0.15s ease-in-out opacity;

    &:hover {
        opacity: 0.9;
    }
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1161px;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: $silver;
}

::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 10px;
}

.contentGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & section {
        flex-basis: 48%;
        margin-bottom: 5rem;

        @media only screen and (max-width: 800px) {
            flex-basis: 100%;
        }

        &:last-of-type {
            margin-bottom: unset;
        }
    }
}
